.header-container {
	ul.menu {
		width: 30px;
		list-style: none; 
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		position: fixed;
		z-index: 20;
		right: 0;
		top: 50%;


		li {
			margin-right: 10px;
			.fa {
				position: relative;
				&:hover p{
					display: block;
				}
				p {
					display: none;
					position: absolute;
					text-align: right;
					right: 100%;
					top: -9px;
					margin: 0;
					padding: 0;				}
			}
				a {
				color: #fff;
				font-size: 4rem;
				padding: 10px;

				&:hover {

				}

				
			}
		}
	}

}